body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.weui-cells{
  margin-top: 0px;
  line-height: 1.7;
}
#header{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2.3rem;
  background-color: #27AE60;
  z-index: 10;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 2.3rem;

}
.weui-cells_form{
  margin-top: 2.2rem;
}
.weui-label{
  font-size: 14px;
}
.weui-cells__title{
  font-size: 14px;
  color: #000;
}
#contect{
  width: 100%;
  height: 100%;
  padding-top: 45px;
  min-height: 490px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}
.mintitle{
  font-size: 14px;
  color: #999;
  padding-top: 5px;
  padding-left: 5px;
}
.weui-cells{
  margin-top: 0px;
}
.weui-btn_primary {
    background-color: #27AE60;
    margin: 50px 7% 0 7%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
}
.weui-cells .icon-user{
  color: #999;
}
#contect .repra{
  padding-top: 15px;
}
.weui-cells .weui-label {
    width: 90px;
}
.weui-cells .change{
  color: #27AE60;
}
.weui-cells .prove{
  width: 88px;
  height: 90px;
  float: left;
  margin-left: 10px;
}
.weui-cells .proname{
  width: 35px;
    height: 35px;
    background-image: url(../images/number1.png);
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    margin: 9px 0 4px 13px;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    line-height: 35px;
}
.weui-cells .prowork{
  padding: 2px 4px;
  background-color: #288DF0;
  color: #fff;
  font-size: 12px;
  border:none;
  border-radius: 3px;
  margin-bottom: 5px;
}
.weui-cells .point {
    float: left;
    width: 25px;
    height: 17px;
    margin-top: 9%;
}
.div2header{
  top: 0px;
  width: 100%;
  height: 2.3rem;
  background-color: #27AE60;
  z-index: 10;
  color: #fff;
  font-size: 16px;
  line-height: 2.3rem;
  position: relative;
}
#btn{
  position: absolute;
  top: 1px;
  right:23px;
}
.div2header .icon-return{
  font-size: 40px;
  float: left;
  line-height: 2.3rem;
}
#navtop{
  text-align: center;  
  display: block;
}
#div2{
  width: 100%;
  height: 100%;
  background-color:#fff;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 99;
  transition: all 0.5s;
}
#search{
  width: 100%;
  height: 37px;
  background-color: #ccc;
}
#div2 .search {
    width:85%;
  height: 37px;
    height: 20px;
    border-radius: 36px;
    vertical-align: top;
    margin-top: 8px;
    border: 1px solid #f6f6f6;
    margin-left: 5px;
    color: #ccc;
    padding-left: 30px;
    font-size: 12px;
}
#div2 .large {
    width: 24px;
    height: 24px;
    margin-left: -302px;
    margin-top: 7px;
}
#div2content{
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
#div2content .department{
      height: 37px;
    display: block;
    padding-left: 7px;
    color: #27AE60;
    line-height: 37px;
}
#div2content .list{
  width: 100%;
  padding-bottom: 3px;
}
#div2content .div2result{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f6f6f6;
  font-size: 14px;
  padding-left: 12px;
  background-color: #fff;
}
#div2content .div2result .icon-radio-unchecked,
#div2content .div2result .icon-radio-checked{
  float: right;
  margin-right:50px;
  line-height: 40px;
  font-size: 16px;
}
.icon-radio-unchecked{
  color: #ccc;
}
.icon-radio-checked{
  color: #27AE60;
}
#typeLeave{
  width: 100%;
  height: 80%;
  background-color: #fff;
  position: fixed;
  top:100%;
  left: 0;
  z-index: 99;
  transition: all 0.3s;
}
.typeheader{
  position: relative;
  width: 100%;
  height: 2.3rem;
  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 2.3rem;
}
.typetitle{
  display: block;
  text-align: center;
}
.typeright{
  position: absolute;
  right: 12px;
  bottom: 0px;
  color:#27AE60;
}
.intype{
  border-bottom: 1px solid #f6f6f6;
  height: 40px;
  line-height: 40px;
}
.type {
    margin-left: 20px; 
}
.intype .icon-radio-unchecked,
.intype .icon-radio-checked{
  float: right;
  margin-right:50px;
  line-height: 40px;
  font-size: 16px;
}
.icon-radio-unchecked{
  color: #ccc;
}
.icon-radio-checked{
  color: #27AE60;
}
.iconcheck{
  font-size: 18px;
  color: #27AE60;
}
.weui-footer{
    padding-top: 5px;
    background-color: #ececec;
}
.weui-footer_fixed-bottom {
    bottom: 0;
}
.weui-footer ul {
  font-size: 12px;
  list-style:none;
  height: 2.3rem;
  display: flex;
}
.weui-footer ul li{
  flex: 1;
  float: left;
  height: 10%;
  padding-top:5px;
}

.weui-footer ul li span{
  vertical-align:middle;
  font-size: 22px;

}
.weui-footer ul li.active a{
  color: #27AE60;
}




