@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5o6596');
  src:  url('fonts/icomoon.eot?5o6596#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5o6596') format('truetype'),
    url('fonts/icomoon.woff?5o6596') format('woff'),
    url('fonts/icomoon.svg?5o6596#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check_circle:before {
  content: "\e903";
}
.icon-process:before {
  content: "\e902";
  color: #27ae60;
}
.icon-circle:before {
  content: "\e901";
  color: #dbdbdb;
}
.icon-home:before {
  content: "\e900";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-profile:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e971";
}
.icon-cog:before {
  content: "\e994";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-question:before {
  content: "\ea09";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
